body {
    margin: 0 auto;
    background-color:rgb(183, 147, 118);
}
/* navigation bar styles */
.nav-bar {
     /* background: linear-gradient(to bottom, #236AB9 0%, #091034 70%); */
     /* background: linear-gradient(to bottom, rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); */
     background: rgb(43, 24, 17);
     height: 60px;
     width: 100%;
     color: white; 
    
}
.nav-logo {
    height: 54px;
    width: 50px;
    margin: 3px;
}
.nav-links {
    float: right;
    margin: 0 auto;
    height: 60px;
    list-style-type: none;
    
}
.list-item {
    display: inline-block;
    margin-top: 8px;
    padding: 15px;
    
}
.list-item a {
    color: white;
    text-decoration: none;
}
.list-item a:hover {
    color:rgb(183, 147, 118);
}
/* home page styles */
.banner {
    background-image: url('../images/welcomebanner.jpeg');
    background-size: cover;
    background-position: center;
    height: 490px;
    width: 90%;
    margin: auto;
    border: solid;
    border-color:white;
    margin-top: 150px;
}

.container {
    width: 100%;
    height: 300px;
}
.column-one {
    width: 49%;
    border: 3px solid white;
    float: left;
    margin-top: 50px;
    margin-left: 10px;
}
.col-img {
    margin-left: 135px;
}
.column-two {
    width: 49%;
    border: 3px solid white;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
    font-family: 'Song Myung', serif;
}
.col-text {
    padding: 15px;

}
/* footer styles */
footer {
    position: static;
    height: 60px;
    width: 100%;
    margin-top: 290px;
    bottom: 0;
    left: 0;
    background-color: rgb(43, 24, 17);
}
.footer-col {
    width: 33%;
    height: 20px;
    display:inline-block;
}
.footer-right {
    float: right;
}
.button {
    clear: right;
}
.copyrightwrite {
    color: white;
}
/* contact styles */
.fab {
    color: #1DA1F3;
}
.map {
    overflow: hidden;
    text-align: center;
}
.contact-form {
    
}
/* about styles */
.aboutbox {
    width: 98%;
    height: 1000px;
    position: relative;
    text-align: center;
    margin-left: 1.5%;
}
.abt {
    width: 33%;
    height: 999px;
    border: 3px solid white;
    position: absolute;
    margin-top: 100px;
}
.col1 {
    left: 0;
    top: 0;
}
.col2 {
    left: 33%;
    top: 0;
}
.abtvidbox {
    position: relative;
    height: 0;
    padding-bottom: 56.21%;
    margin-top: 25px;
    
}

.abtvideo {
    position: absolute;
    width: 95%;
    height: 100%;
    left: 2%;
    border: 3px solid rgb(43, 24, 17);

}
.col3 {
    left: 66%;
    top: 0;
}
.abtimg {
    margin-top: 75px;
    border: 3px solid rgb(43, 24, 17);
    width: 350px;
    height: 230px;
}