body {
    margin: 0 auto;
}
.nav-bar {
     background: linear-gradient(to bottom, #236AB9 0%, #091034 70%);
     height: 60px;
     width: 100%;
}
ul {
    float: right;
    margin: 0 auto;
    display: inli
}
.list-item {
    display: inline-block;
}